@import "../../../styles/variables";
@import "../../../styles/utils";

.latest-activities-card {
  display: flex;
  flex-direction: column;
}

.latest-activities-card__section-container {
  display: flex;
  flex-direction: column;
  padding: 33px 0 22px;
}

.latest-activities-card__section-container > .highlight-item {
  margin-bottom: 10px;
}

.latest-activities-card__section-container > .highlight-item:last-child {
  margin-bottom: 0;
}

.latest-activities-card__section-container > .exhibitor-item {
  margin-bottom: 26px;
}

.latest-activities-card__section-container > .exhibitor-item:last-child {
  margin-bottom: 0;
}

.latest-activities-card__section-title {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $SHUTTLE_GRAY;
  margin-top: 30px;
}