@import "../../../styles/variables";
@import "../../../styles/utils";

.profile-information-card {

}

.profile-information-card__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  position: relative;
  padding: 30px 24px;
}

.profile-information-card__info__more-button {
  position: absolute;
  top: 40px;
  right: 36px;
  width: 30px;
  height: 5px;
}

.profile-information-card__info > img {
  margin-bottom: 34px;
}

.profile-information-card__info__text {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $TUNDORA;
  padding-top: 0.3em;
  text-align: center;
}

.profile-information-card__info__text--bold {
  font-weight: 700;
}

.profile-information-card__info__text--medium{
  font-weight: 500;
}

.profile-information-card__slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 24px 30px;
}

.profile-information-card__slogan__text {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-style: italic;
  color: $TUNDORA;
  padding-top: 0.3em;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

.profile-information-card__slogan__edit-button {
  width: 20px;
  height: 20px;
}