@import "../../../styles/variables";
@import "../../../styles/utils";

.social-connect-card {
  display: flex;
  flex: 1;
  max-width: 360px;
}

.social-connect-card__body {
  display: flex;
  padding: 28px 23px 40px;
};

.social-connect-card__section-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.social-connect-card__title__container {
  display: flex;
  padding: 18px 38px 35px;
}

.social-connect-card__title {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-weight: 700;
  color: $MIRAGE;
  padding-top: 0.3em;
}

.social-connect-card__social-media-button__wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 30px;
}

.social-connect-card__social-media-button__wrapper > .common__social-media-button {
  margin-bottom: 5px;
}

.social-connect-card__connect-company__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-connect-card__connect-company {
}

.social-connect-card__information-item-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.social-connect-card__information-item-container > .common__information-item {
  margin-top: 16px;
}