@import "../../../styles/variables";
@import "../../../styles/utils";

.recent-events-card {
  display: flex;
  flex: 2;
  flex-flow: row wrap;
}

.recent-events-card > .medium-event-item {
  display: flex;
  flex: 1 50%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}