@import "../../../styles/variables";
@import "../../../styles/utils";

.select {
  display: flex;
  flex: 1;
  position: relative;
  cursor: pointer;
  border: 1px solid $ALTO;
  border-radius: 5px;
  height: 70px;
  @include boxShadow(0px 2px 4px 0px rgba(#000, 0.19))
}

.select__arrow {
  font-size: 1.25em;
  color: $RIVER_BED;
}

.select__arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0 solid $ALTO;
  border-left-width: 1px;
  width: 70px;
  height: 70px;
}

.select__dropdown {
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  background-color: $WHITE;
  border: 1px solid $ALTO;
  border-top-width: 0;
  overflow: scroll;
  max-height: 400px;
  z-index: 1060;
}

.select__label {
  font-family: $font-galano-classic;
  font-size: 1.125em;
  font-weight: 500;
  color: $STORM_GRAY;
  padding-top: 0.3em;
}

.select__label-container {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 22px;
}

.select__option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: $WHITE;
  cursor: pointer;
  padding: 0 16px;
  border-bottom: 1px solid $ALTO;
  height: 70px;
}

.select__option:hover {
  background-color: $ALTO;
}

.select__option-label {
  font-family: $font-galano-classic;
  font-size: 1.125em;
  color: $STORM_GRAY;
  padding-top: 0.3em;
}

.select__option:last-child {
  border-bottom: 0;
}

.select__option--selected {
  background-color: $ALTO;
}