@import "variables";
@import "utils";

.accept-and-decline-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.accept-and-decline-buttons > button:first-child {
  margin-bottom: 6px;
}