@import "variables";
@import "utils";

@import "../components/common/dropdownMenu/dropdownMenu";
@import "../components/common/loading/loading";
@import "../components/common/modal/modal";
@import "../components/common/select/select";

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $MANDY;
  border-radius: 12px;
  width: 24px;
  height: 24px;
}

.badge__text {
  font-family: $font-galano-classic;
  font-size: 1em;
  font-weight: 700;
  color: $WHITE;
  padding-top: 0.3em;
}

.basic-user-information-item {
  display: flex;
  flex-direction: column;
}

.basic-user-information-item__image {
  display: block;
  border-radius: 46px;
  width: 92px;
  height: 92px;
}

.basic-user-information-item__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-user-information__text {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $TUNDORA;
  padding-top: 0.3em;
  line-height: 1;
  text-align: center;
}

.basic-user-information__text-container {
  display: block;
  flex-direction: column;
  margin-top: 24px;
  text-align: center;
}

.basic-user-information__text--medium {
  font-weight: 500;
  color: $BLACK;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $WHITE;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;

  @include boxShadow(0px 2px 11px 6px $card-shadow-color)
}

.card__body {
  display: flex;
  flex: 1;
  padding: 35px 55px;
}

.card__divider {
  border: 0.5px solid #DBDBDB;
  width: 100%;
  height: 0;

}

.card-header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px 55px 25px;
}

.card-header__right-label {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-weight: 400;
  color: $TUNDORA;
  padding-top: 0.3em;
}

.card-header__title {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-weight: 700;
  color: $MIRAGE;
  padding-top: 0.3em;
}

//Alert is card based. For hierarchical purpose, .alert breaks alphabetical order
.alert {
  flex: none;
}

.alert__body {
  display: flex;
  align-items: center;
}

.alert__body > img:first-child {
  margin-right: 60px;
}

.alert--info {
  background-color: $ONAHAU;
}

.alert__label {
  color: $TUNDORA;
  font-family: $font-galano-classic;
  font-size: 1.5em;
  line-height: 1;
  padding-top: 0.3em;
}

.alert__label--strong {
  font-weight: 700;
}

.common__progress-bar {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid $PISTACHIO;
  border-radius: 3px;
  height: 27px;
}

.common__progress-bar--active {
  background-color: $PISTACHIO;
}

.common__contact-information-item {
  display: flex;
  align-items: center;
}

.common__contact-information-item__icon {
  margin-right: 48px;
  width: 20px;
  height: 20px;
}

.common__contact-information-item__label {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $MINE_SHAFT;
  padding-top: 0.3em;
}

.common__bordered-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.common__bordered-button__icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  width: 10px;
  height: 10px;
}

.common__bordered-button__icon {
  @include contain()
}

.common__bordered-button__label {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  padding-top: 0.3em;
  text-align: center;
}

.common__bordered-button__label--bold {
  font-weight: 700;
}

.common__chip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $DODGER_BLUE;
  padding-left: 25px;
  padding-right: 25px;
  border: 0;
  border-radius: 19px;
  height: 38px;
  cursor: pointer;
}

.common__chip--removable {
  padding-left: 41px;
  padding-right: 41px;
}

.common__chip--removable > .common__chip__label {
  margin-right: 10px;
}

.common__chip__label {
  font-family: $font-galano-classic;
  font-size: 1.125em;
  color: $WHITE;
  padding-top: 0.3em;
  text-align: center;
}

.common__chip__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $DODGER_BLUE;
  padding: 0;
  border-width: 0;
  border-left: 1px solid $WHITE;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  width: 32px;
  height: 38px;
}

.common__chip__remove__icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.common__chip__remove__icon {
  @include contain()
}

.common__social-media-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 25px 0 0;
  border: 0;
  border-radius: 17px;
  height: 34px;
}

.common__social-media-button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 34px;
  height: 34px;
}

.common__social-media-button__icon__image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.common__social-media-button__icon__image {
  display: block;
  font-size: 16px;
  color: #FFF;
  max-width: 32px;
  max-height: 32px;
}

.common__social-media-button__label {
  font-family: $font-galano-classic;
  font-size: 0.938em;
  padding-top: 0.3em;
  margin-left: 12px;
}

.common__information-item {
  display: flex;
  flex: 1;
}

.common__information-item__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common__information-item__icon {
  display: block;
  max-width: 14px;
  max-height: 14px;
}

.common__information-item__label-container {
  display: flex;
  margin-left: 10px;
}

.common__information-item__label {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $TUNDORA;
  padding-top: 0.3em;
}

.common__information-item__label--strong {
  font-weight: 700;
}

.event-date {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-date__day {
  font-family: $font-galano-classic;
  font-size: 1.5em;
  font-weight: 700;
  color: $BLACK;
  margin-top: -5px;
  text-align: center;
}

.event-date__month {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  font-weight: 200;
  color: $POMEGRANATE;
  padding-top: 0.3em;
  text-align: center;
}

.exhibitor-item {
  display: flex;
  align-items: center;
}

.exhibitor-item__content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.exhibitor-item__image {
  margin-right: 30px;
  border-radius: 37px;
  width: 74px;
  height: 74px;
}

.exhibitor-item__read-more {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $DODGER_BLUE;
  padding-top: 0.3em;
  line-height: 1;
  text-decoration: none;
}

.exhibitor-item__subtitle {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $MIRAGE;
  padding-top: 0.3em;
  line-height: 1;
}

.exhibitor-item__title {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-weight: 700;
  color: $MIRAGE;
  padding-top: 0.3em;
  line-height: 1;

}

.highlight-item {
  display: flex;
  align-items: center;
}

.highlight-item__icon {
  display: block;
  width: 100%;
  max-width: 26px;
  max-height: 26px;
}

.highlight-item__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.highlight-item__label {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $BLACK;
  padding-top: 0.3em;
}

.highlight-item__label--strong {
  @extend .highlight-item__label;
  font-weight: 700;
}

.large-event-item {
  display: flex;
  padding: 10px;
  background-color: $WHITE;
  @include boxShadow(0 4px 8px 1px $card-shadow-color-hover);
}

.large-event-item__date {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $STORM_GRAY;
}

.large-event-item__detail {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $STORM_GRAY;
  padding-top: 0.3em;
  margin-top: 6px;
}

.large-event-item__info-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.large-event-item__image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 175px;
  height: 100px;
}

.large-event-item__name {
  font-family: $font-galano-classic;
  font-size: 1.125em;
  color: $BLACK;
  padding-top: 0.3em;
}

.logo {
  width: 58px;
  height: 58px;
}

.medium-event-item {
  display: block;
}

.medium-event-item__content-container {
  display: flex;
  padding: 16px;
  border: 1px solid #D9D9D9;
  border-top-width: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

}

.medium-event-item__date {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $STORM_GRAY;
  padding-top: 0.3em;
  margin-top: 6px;
  white-space: nowrap;
}

.medium-event-item__event-date {
  align-self: flex-start;
}

.medium-event-item__image {
  display: block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.medium-event-item__image-wrapper {
  display: flex;
}

.medium-event-item__image-wrapper > div {
  width: 100%;
  min-width: 0;
}

.medium-event-item__info-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 16px;
}

.medium-event-item__location {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $STORM_GRAY;
  padding-top: 0.3em;
  margin-top: 6px;
}

.medium-event-item__name {
  font-family: $font-galano-classic;
  font-size: 1.125em;
  color: $BLACK;
  padding-top: 0.3em;
}

.network-connection-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 32px;
}

.network-connection-item__card {
  position: relative;
  padding-bottom: 15px;
}

.network-connection-item__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border-width: 0;
  border-top-color: $ALTO;
  border-top-width: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  @include transition(0.4s)
}

.network-connection-item__button:hover {
  background-color: $DODGER_BLUE;
  border-top-color: $DODGER_BLUE;
}

.network-connection-item__button:hover > .network-connection-item__button-label {
  color: $WHITE;
}

.network-connection-item__button-label {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $BLACK;
  text-align: center;
  @include transition(0.4s)
}

.network-connection-item__network-connection-information-item-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px 0 84px;
}

.network-connection-item__more-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 5px;
}

.network-connection-information-item {
  display: block;
}

.network-connection-information-item__icon {
  display: flex;
  align-items: center;
  @include contain();
  justify-content: center;
  max-height: 12px;
  max-width: 12px;
}

.network-connection-information-item__icon-wrapper {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
}

.network-connection-information-item__text {
  font-family: $font-galano-classic;
  font-size: 0.75em;
  color: $TUNDORA;
  padding-top: 0.3em;
  margin-left: 12px;
}

.notification-item {
  display: flex;
  align-items: center;
}

.notification-item__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}

.notification-item__container--horizontal {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 40px;
}

.notification-item__container--horizontal > span {
  font-size: 1.5em;
}

.notification-item__text {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $TUNDORA;
  padding-top: 0.3em;
  text-align: center;
  line-height: 1;
}

.notification-item__title {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  font-weight: 700;
  color: $TUNDORA;
  padding-top: 0.3em;
  line-height: 1;
  text-align: center;
}

.screen-header {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background-color: #F0F2F5;
  height: 164px;
  z-index: 5;
}

.screen-header__body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.small-event-item {
  display: flex;
  flex: 1;
}

.small-event-item__event-date {
  align-self: flex-start;
}

.small-event-item__image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  width: 175px;
  height: 100px;
}

.small-event-item__info-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  margin-left: 10px;
}

.small-event-item__name {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  font-weight: 700;
  color: $BLACK;
  padding-top: 0.3em;
  line-height: 1;
}

.small-event-item__detail {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $BLACK;
  padding-top: 0.3em;
  line-height: 1;
}
