@import "variables";

.header-container {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DBDBDB;
  height: 100px;
}

.header-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  max-width: 1440px;
}

.header-brand-container {
  display: flex;
  align-items: center;
}


.header-brand-container > .logo {
  margin-left: 18px;
  margin-right: 18px;
}

.header-brand-container__brand {
  font-family: $font-galano-classic;
  font-size: 1.5em;
  font-weight: 700;
  color: #1B2235;
  padding-top: 0.3em;
}

.header__hamburger-menu {
  display: none;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  border: 0;
  background-color: transparent;
  padding-right: 15px;

}

.header__hamburger-menu > *:first-child {
  margin-left: 15px;
}

.header__hamburger-menu > button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin-left: 25px;
}

.header__hamburger-menu__icon {
  width: 42px;
  height: 42px;
}

.header__hamburger-menu__image {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-navigation > *:first-child {
  margin-left: 15px;
}

.header-navigation > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-navigation > button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-navigation > button:focus > div > .dropdown-menu {
  visibility: visible;
}

.header-navigation > button:focus > div > .dropdown-menu__diamond {
  visibility: visible;
}

.header-navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  border: 0px;
  width: 85px;
}

.header-navigation-item__icon {
  width: 42px;
  height: 36px;
}

.header-navigation-item__image {
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.header-navigation-item__text {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $MIRAGE;
  padding-top: 0.3em;
}

.header-navigation-item__sub-text {
  font-family: $font-galano-classic;
  font-size: 0.875em;
  color: $MIRAGE;
  padding-top: 0.3em;
}

.header-navigation-item__sub-text--bold {
  font-weight: 700;
}

.header-navigation-item > .badge{
  position: absolute;
  top: 6px;
  right: -6px;
  z-index: 10;
}

.header-search {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row;
  background-color: $ATHENS_GRAY;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 26px;
  border: 1px solid $ALTO;
  border-radius: 13px;
  height: 64px;
}

.header-search__icon {
  font-size: 2.25em;
  color: $FRENCH_GRAY;
  width: 36px;
  height: 36px;
}

.header-search__input {
  display: flex;
  flex: 1;
  font-family: $font-galano-classic;
  font-size: 1.5em;
  background-color: $ATHENS_GRAY;
  color: $FRENCH_GRAY;
  padding-top: 0.3em;
  margin-left: 25px;
  border: 0;
}


@media (max-width: 1024px){
  .header__hamburger-menu{
    display: flex;
  }
  .header-navigation > a {
    display: none;
  }
  .header-navigation > button {
    display: none;
  }
  .header-search__input {
    margin-left: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-brand-container__brand {
    display: none;
  }

  .header-search__icon {
    display: none;
  }

  .header-search {
    margin-left: 0;
  }

  .header-search__input {
    margin-left: 0;
  }
}

