@import "colors";

@font-face {
  font-family: 'GalanoClassic';
  src: url('./assets/fonts/GalanoClassic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoClassic';
  src: url('./assets/fonts/GalanoClassic-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoClassic';
  src: url('./assets/fonts/GalanoClassic-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoClassic';
  src: url('./assets/fonts/GalanoClassic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GalanoClassic';
  src: url('./assets/fonts/GalanoClassic-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



$font-galano-classic: 'GalanoClassic';
$font-lato: 'Lato';

$card-shadow-color: rgba(0, 0, 0, 0.09);
$card-shadow-color-hover: rgba(0, 0, 0, 0.24);
