@import "../../../styles/variables";
@import "../../../styles/utils";

.interesting-events-card {
  display: flex;
  max-width: 360px;
}

.interesting-events-card__body {
  display: flex;
  flex-direction: column;
  padding: 15px 45px 5px;
}

.interesting-events-card__title {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-weight: 700;
  color: $MIRAGE;
  padding-top: 0.3em;
}

.interesting-events-card__more {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $DODGER_BLUE;
  padding-top: 0.3em;
  margin-top: 30px;
}

.interesting-events-card__small-event-item-wrapper {
  display: flex;
  flex-direction: column;
}

.interesting-events-card__small-event-item-wrapper > .small-event-item {
  margin-top: 20px;
}

