@import "../../../styles/utils";
@import "../../../styles/variables";

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#979797, 0.2);
  opacity: 0;
  overflow: auto;
  width: 100%;
  height: 0;
  z-index: 1040;
}

.modal--open {
  opacity: 1;
  height: 100%;
}

.modal--closed {
  opacity: 0;
  height: 0;
}