@import "../../../styles/variables";
@import "../../../styles/utils";

.dropdown-menu {
  position: absolute;
  cursor: default;
  visibility: hidden;
  top: 106px;
  z-index: 15;
  right: 0;
  border-radius: 6px;
  background-color: $WHITE;
  @include boxShadow(0px 0px 3px 3px $card-shadow-color);
  transition: visibility 0.1s;
}

.dropdown-menu__diamond {
  visibility: hidden;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 107px;
  right: 16.5px;
  z-index: 16;
  box-sizing: border-box;
  border: 10px solid black;
  border-color: transparent transparent $WHITE $WHITE;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px 0 $card-shadow-color;
  transition: visibility 0.1s;
}

.dropdown-menu__divider {
  width: 100%;
  height: 2px;
  background-color: #D8D8D8;
}

.dropdown-menu__item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 11px 18px 11px 28px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.dropdown-menu__item {
  color: $STORM_GRAY;
  font-family: $font-galano-classic;
  font-weight: bold;
  font-size: 1.125em;
  padding-top: 0.3em;
  line-height: 1;
}

.dropdown-menu__items-container {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.dropdown-menu__profile-container {
  display: flex;
  flex-direction: column;
  padding: 18px 28px;
}

.dropdown-menu__profile-wrapper {
  display: flex;
  align-items: center;
}

.dropdown-menu__profile-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  justify-content: center;
  align-items: flex-start;
}

.dropdown-menu__profile-text {
  color: $MIRAGE;
  font-family: $font-galano-classic;
  font-weight: 700;
  font-size: 0.875em;
  padding-top: 0.3em;
  line-height: 1;
  white-space: nowrap;
}

.dropdown-menu__profile-sub-text {
  color: $STORM_GRAY;
  font-family: $font-galano-classic;
  font-size: 0.813em;
  padding-top: 0.3em;
  line-height: 1;
  white-space: nowrap;
}

.dropdown-menu__profile-view-link-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.dropdown-menu__profile-view-link-container > a {
  width: 100%;
}

.dropdown-menu__profile-view-link {
  color: $ROYAL_BLUE_LIGHT;
  font-family: $font-galano-classic;
  font-weight: 700;
  font-size: 1.125em;
  padding-top: 0.3em;
}