@import "../../../styles/variables";
@import "../../../styles/utils";

.notifications-card {
  display: flex;
  flex-direction: column;
}

.notifications-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border-width: 0;
  border-top-color: $ALTO;
  border-top-width: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  @include transition(0.4s)
}

.notifications-card__button-label {
  font-family: $font-galano-classic;
  font-weight: 700;
  font-size: 0.875em;
  color: $DODGER_BLUE;
  text-align: center;
  @include transition(0.4s)
}

.notifications-card > .notification-item {
  margin-bottom: 30px;
}

.notifications-card > .notification-item:last-child {
  margin-bottom: 20px;
}

.notifications-card__title {
  color: $MIRAGE;
  font-family: $font-galano-classic;
  font-size: 1.25em;
  font-weight: 700;
}

.notifications-card__title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 36px;
}

.notifications-card__title-container > span:first-child {
  margin-right: 20px;
}