@import "../../../styles/variables";
@import "../../../styles/utils";

.profile-strength-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 35px 50px 30px;
}

.profile-strength-card > .common__progress-bar {
  margin-bottom: 20px;
}

.profile-strength-card > .common__contact-information-item {
  margin-bottom: 20px;
}

.profile-strength-card__strength-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-left: 18px;
  margin-bottom: 8px;
}

.profile-strength-card__strength-info__text__container {
  display: flex;
  align-items: center;
  flex: 1;
}

.profile-strength-card__strength-info__text {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $STORM_GRAY;
  padding-top: 0.3em;
}

.profile-strength-card__strength-info__text--strong {
  font-weight: 700;
  color: $MIRAGE;
}

.profile-strength-card__strength-info__icon {
  color: $SAFFRON;
  width: 20px;
  height: 20px;
}

.profile-strength-card__strength-info__counter {
  @extend .profile-strength-card__strength-info__text;
  font-weight: 500;
}

.profile-strength-card__title {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $MIRAGE;
  padding-top: 0.3em;
  margin-bottom: 6px;
}

.profile-strength-card__explanation {
  font-family: $font-galano-classic;
  font-size: 1.25em;
  color: $RIVER_BED;
  padding-top: 0.3em;
  margin-bottom: 32px;
}

.profile-strength-card__update-profile {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 10px;
}