@import "../../../styles/variables";
@import "../../../styles/utils";

.interests-card__container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.interests-card__explanation {
  font-family: $font-galano-classic;
  font-size: 1.250em;
  color: $STORM_GRAY;
  padding-top: 0.3em;
}

.interests-card__chip-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 40px;
}

.interests-card__chip-container > .common__chip {
  margin-bottom: 10px;
  margin-right: 4px;
}