@import "../../../styles/variables";
@import "../../../styles/utils";

.loading {
  width: 100px;
  height: 100px;
  background-color: transparent;
  @include animation('rotate-endlessly 2s both infinite');
}

.loading__image {
  @include contain();
}

@include keyframes(rotate-endlessly) {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
