@import "../../../styles/variables";
@import "../../../styles/utils";

.match-card {
}

.match-card__buttons-container {
  display: flex;
}

.match-card__button {
  display: flex;
  flex: 0 50%;
  align-items: center;
  justify-content: center;
  background-color: $WHITE;
  border: 0;
  padding: 30px 0;
}

.match-card__button--active {
  background-color: #50E3C2;
}

.match-card__button-label {
  color: $MINE_SHAFT;
  font-family: $font-galano-classic;
  font-size: 1.219em;
  font-weight: 500;
  padding-top: 0.3em;
}

.match-card__button-label--active {
  color: $WHITE;
  font-family: $font-galano-classic;
  font-weight: 700;
}

.match-card__header-container {
  display: flex;
  padding: 15px 36px;
  border-bottom: 1.5px solid $ALTO;
}

.match-card__header {
  color: $STORM_GRAY;
  font-family: $font-galano-classic;
  font-size: 1.125em;
  padding-top: 0.3em;
}

.match-card__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.match-card__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 35px 40px;
  border-bottom: 1.5px solid $ALTO;
}

.match-card__interests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 27.5px 35px;
  border-bottom: 1.5px solid $ALTO;
}

.match-card__interests-title {
  color: $STORM_GRAY;
  font-family: $font-galano-classic;
  font-size: 1.313em;
  font-weight: 700;
  padding-top: 0.3em;
}

.match-card__interests-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.match-card__interests-wrapper > .common__chip {
  margin-top: 20px;
  margin-right: 10px;
}

.match-card__name {
  color: $MINE_SHAFT;
  font-family: $font-galano-classic;
  font-size: 1.688em;
  font-weight: 700;
  padding-top: 0.3em;
  line-height: 1;
  margin-top: 10px;
}

.match-card__slogan-container {
  display: flex;
  align-items: center;
  padding: 15px 35px;
  border-bottom: 1.5px solid $ALTO;
}

.match-card__slogan {
  color: $MIRAGE;
  font-family: $font-galano-classic;
  font-size: 1.125em;
  font-weight: 500;
  padding-top: 0.3em;
}

.match-card__title {
  color: $MINE_SHAFT;
  font-family: $font-galano-classic;
  font-size: 1.125em;
  padding-top: 0.3em;
  line-height: 1;
  margin-top: 10px;
  text-align: center;
}