@import "styles/headerContainer";
@import "styles/common";
@import "styles/cards";
@import "styles/buttons";
@import "styles/screens";

html { margin-left: calc(100vw - 100%); overflow-y: scroll; }

body {
  height: 100vh;
  min-height: 100vh;
  font-size: 16px;
  background-color: #F5F7FA;
}

button {
  font-size: 16px;
  cursor: pointer;
}

button:focus {outline:0;}

a {
  font-size: 16px;
  text-decoration: none;
}

.container {

}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  height: 100px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}