@import "../variables";
@import "../utils";

.home__container {
  display: flex;
  flex: 1;
  max-width: 1440px;
  justify-content: space-between;
  padding: 120px 80px 40px;
}

.home__user-information-card-container {
  display: flex;
  flex-direction: column;
  margin-right: 22px;
  z-index: 10;
  order: 1;
}

.home__interesting-events-card-container {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  z-index: 10;
  order: 3;
}

.home__latest-activities-card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 22px;
  z-index: 10;
  position: relative;
  order: 2;
}

@media (max-width: 1440px) {
  .home__container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home__container .screen-header__body {
    margin-left: 80px;
  }

  .home__user-information-card-container {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .home__user-information-card-container .card__body {
    justify-content: center;
  }

  .home__user-information-card-container .common__information-item {
    justify-content: center;
  }

  .home__interesting-events-card-container {
    order: 2;
    margin-left: 0;
    margin-bottom: 22px;
  }

  .home__interesting-events-card-container .interesting-events-card {
    max-width: none;
  }

  .home__interesting-events-card-container .interesting-events-card__small-event-item-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .home__interesting-events-card-container .small-event-item {
    margin-right: 20px;
  }

  .home__latest-activities-card-container {
    order: 3;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .home__container{
    padding-left: 10px;
    padding-right: 10px;
  }

  .home__container .screen-header__body {
    margin-left: 10px;
  }
}