@import "../variables";
@import "../utils";

$networkConnectionItemFlexShrink: 100% / 3;

.network__container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 112px 80px 40px;
  max-width: 1440px;
}

.network__filter-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.network__filter-icon {
  @include contain();
  max-width: 26px;
  max-height: 26px;
}

.network__filter-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
}

.network__filter-text {
  font-family: $font-galano-classic;
  font-size: 1.5em;
  font-weight: 500;
  color: $MIRAGE;
  padding-top: 0.3em;
  margin-right: 14px;
  line-height: 1;
}

.network__header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  top: -74px;
  left: 0;
  right: 0;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 6;
}

.network__left-container {
  display: flex;
  flex: 1 85%;
  flex-direction: column;
  position: relative;
  margin-right: 22px;
  z-index: 10;
}

.network__modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#979797, 0.2);
  opacity: 0;
  overflow: auto;
  width: 100%;
  height: 0;
  z-index: 1040;
}

.network__modal--open {
  opacity: 1;
  height: 100%;
}

.network__modal--closed {
  opacity: 0;
  height: 0;
}

.network__modal-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.network__modal-body > .select {
  margin-bottom: 10px;
}

.network__modal-body > .select:first-of-type {
  margin-bottom: 40px;
}

.network__modal-button {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.network__modal-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 150px;
}

.network__modal-container > .card {
  flex: none;
  width: 480px;
}

.network__modal-title {
  font-family: $font-galano-classic;
  font-size: 1.5em;
  font-weight: 500;
  color: $MIRAGE;
  padding-top: 0.3em;
}

.network__network-connection-item-wrapper {
  display: flex;
  flex: 1 $networkConnectionItemFlexShrink;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  min-width: 220px;
  @include transition(0.4s)
}

.network__network-connection-item-wrapper > .card {
  @include transition(0.4s)
}

.network__network-connection-item-wrapper:hover {
  padding-top: 3px;
  padding-bottom: 21px;
}

.network__network-connection-item-wrapper:hover > .card {
  @include boxShadow(0px 2px 11px 6px $card-shadow-color-hover)
}

.network__network-connection-items-container {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
}

.network__right-container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-left: 22px;
  z-index: 10;
}

.network__subtitle {
  font-family: $font-galano-classic;
  font-size: 1.125em;
  padding-top: 0.3em;
  line-height: 1;
}

.network__title {
  font-family: $font-galano-classic;
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 0.3em;
  line-height: 1;
}

.network__title-container {
  display: flex;
  flex-direction: column;
}

.network__notification-card {
  display: none;
}

@media (max-width: 1024px) {
  .network__notification-card {
    display: flex;
    margin: 12px;
  }

  .network__left-container {
    margin-right: 0;
  }

  .network__right-container {
    display: none;
  }

  .network__notification-card .notifications-card{
    flex: 1;
  }

  .network__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}