@import "../utils";
@import "../variables";

.profile__container {
  display: flex;
  flex: 1;
  max-width: 1440px;
  justify-content: space-between;
  padding: 40px 80px 60px;
}

.profile__left-container {
  display: flex;
  flex: 1;
  flex-direction: column
}

.profile__profile-strength-card-container {
  margin-top: 50px;
}

.profile__interests-card-container {
  margin-top: 50px;
}

.profile__recent-event-card-container {
  margin-top: 50px;
}

.profile__right-container {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
}

.profile__left-container > .profile__social-connect-card-container {
  display: none;
  margin-top: 50px;
}

.profile__right-container > .profile__social-connect-card-container {
  display: flex;
}

.profile__social-connect-card-container {

}

.profile__interesting-events-card-container {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .profile__container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .profile__left-container > .profile__social-connect-card-container {
    display: flex;
  }

  .profile__left-container .social-connect-card {
    max-width: none;
    flex: 1;
  }

  .profile__right-container {
    margin-left: 0;
  }

  .profile__right-container > .profile__social-connect-card-container {
    display: none;
  }

  .profile__right-container .interesting-events-card {
    max-width: none;
  }

  .profile__right-container .interesting-events-card__small-event-item-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile__right-container .small-event-item {
    margin-right: 20px;
  }

}