@import "../variables";
@import "../utils";

.requests__back-container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  display: flex;
}

.requests__back-icon {
  color: $MIRAGE;
  font-size: 1.5em;
  margin-right: 18px;
}

.requests__back-title {
  color: $MIRAGE;
  font-family: $font-lato;
  font-size: 1.5em;
  font-weight: 700;
}

.requests__back-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.requests__container {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 112px 0 40px;
  max-width: 1440px;
}

.requests__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 948px;
  z-index: 5;
}

.requests__tabs {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 65px;
}

.requests__tabs-container {
  display: flex;
  flex: none;
  flex-direction: column;
  padding: 0;
  margin-top: 40px;
  overflow: hidden;
}

.requests__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 50%;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  height: 100%;
}

.requests__tab--active {
  background-color: $WHITE;
}

.requests__tab--inactive {
  background-color: $ALTO;
}

.requests__tab-icon {
  font-family: $font-lato;
  font-size: 1.25em;
  font-weight: 700;
  color: $RIVER_BED;
}

.requests__tab-panel {
  display: flex;
  flex-direction: column;
  background-color: $WHITE;
  padding: 24px 60px 30px;
}

.requests__tab-panel--hidden {
  display: none;
}

.requests__tab-panel > .notification-item {
  margin-bottom: 16px;
}

.requests__tab-panel > .notification-item:last-of-type {
  margin-bottom: 0px;
}

.requests__tab-title {
  font-family: $font-lato;
  font-size: 1.25em;
  font-weight: 700;
  color: $RIVER_BED;
  margin-left: 25px;
  margin-right: 25px;
}
