@import "../variables";
@import "../utils";

.tickets__container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 112px 80px 40px;
  max-width: 1440px;
}

.tickets__events-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tickets__events-container > .large-event-item {
  margin-top: 12.5px;
}

.tickets__events-container--hidden {
  display: none;
}

.tickets__header-container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  display: flex;
}

.tickets__header-subtitle {
  color: $STORM_GRAY;
  font-family: $font-galano-classic;
  font-size: 1.125em;
  padding-top: 0.3em;
  line-height: 1;
}

.tickets__header-title {
  color: $MIRAGE;
  font-family: $font-galano-classic;
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 0.3em;
  line-height: 1;
}

.tickets__header-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.tickets__left-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  margin-right: 30px;
  z-index: 10;
}

.tickets__right-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 30px;
  z-index: 10;
}

.tickets__tabs-bottom {
  width: 100%;
  height: 3px;
}

.tickets__tabs-bottom--active {
  width: 100%;
  height: 3px;
  @include linearGradient(to right, #3C7CFB, #08D5FF)
}

.tickets__tabs-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #D8D8D8;
}

.tickets__tabs-title {
  color: $BUNKER;
  font-family: $font-galano-classic;
  font-size: 0.750em;
  padding-top: 0.3em;
  margin: 6.5px 14px;
}

.tickets__tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}


@media (max-width: 1024px) {
  .tickets__container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tickets__left-container {
    margin-right: 0;
  }

  .tickets__container .screen-header__body {
    margin-left: 80px;
  }

  .tickets__right-container {
    margin-left: 0;
    margin-bottom: 22px;
  }

  .tickets__right-container .interesting-events-card {
    max-width: none;
  }

  .tickets__right-container .interesting-events-card__small-event-item-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tickets__right-container .small-event-item {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {

  .tickets__container .screen-header__body {
    margin-left: 10px;
  }
}

