@import "../../../styles/variables";
@import "../../../styles/utils";

.user-information-item {
  display: flex;
  flex-direction: column;
}

.user-information-item__information-item-wrapper {
  margin-top: 42px;
}

.user-information-card__interests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 22px;
  margin-left: -20px;
  margin-right: -20px;
}

.user-information-card__interests-title {
  color: $MIRAGE;
  font-family: $font-galano-classic;
  font-size: 0.875em;
  font-weight: 700;
  padding-top: 0.3em;
}

.user-information-card__interests-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.user-information-card__interests-wrapper > .common__chip {
  margin-top: 12px;
  margin-right: 8px;
  height: 26px;
  border-radius: 13px;
  padding-left: 14px;
  padding-right: 14px;
}

.user-information-card__interests-wrapper > .common__chip > .common__chip__label {
  font-size: 0.813em;
}

.user-information-card__slogan {
  color: $MIRAGE;
  font-family: $font-galano-classic;
  font-size: 0.75em;
  font-weight: 500;
  padding-top: 0.3em;
}

.user-information-card__slogan-container {
  display: flex;
  align-items: center;
  padding: 15px 22px;
  border-bottom: 1.5px solid $ALTO;
  border-top: 1.5px solid $ALTO;
  margin: 15px -20px 0;
}

